* {
  box-sizing: border-box;
  margin-top: 0;
}
body {
  margin-top: 0px;
padding-top: 0px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #eeeeee;

}
#header1 {
  line-height: 2.5rem;
  background: linear-gradient(
    90deg,
    #f7680fe7,
    rgba(228, 142, 29, 0.788)

  );
  margin-bottom: 0;
  font-size: 14px;
  color: #000;
}
p {
  font-size: 12px;
  font-weight: 700;
}
i {
  color: #d87e2a;
}
#nav li a{
  color: #dd893b;
}
nav li #active{
  color: #945931;
}
#nav li a:hover {
  color: #161414;
}
.navbar .nav-link{
  font-size: large;
  color: #f7680fe7;


}

.mcl {
  font-weight: 100;
}
#navb {
  background: linear-gradient(
    90deg,
    rgba(214, 211, 211, 0),
    rgb(230, 225, 225)
  );
  background-color: #fff;

  color: #ff8000;
  font-size: 20px;
  font-weight: 600;
}

.navbar {
  min-height: 50px;
}

.navbar-brand {
  padding: 0 10px;
  height: 80px;
  line-height: 70px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
.circle-icon {
  background: #1f1c1c;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 25px;
  padding-top: 40px;
}
#card-section {
  background-color: #ff8000;
  padding-top: 10px;
  padding-bottom: 30px;
}
#cardd {
  background-color: #ff8000;
  color: #faf6f6;
  text-align: center;
  height: 260px;
  width: 00px;
  border: 8px solid rgb(255, 255, 255);
}
.masthead {
  position: fixed;
  width: 700px;
  top: 0;
  background-color: white;
  border-bottom: 2px solid rgb(220, 220, 220);
}

.card {
  border: none;
}
#speech{
  opacity: 0.5;
}

.navbar-default {
  background: none;
}

.font{
  font-size: 23px;
  font-weight: bold;
  color: rgb(100, 90, 90);
}


footer {
  background-color: #1a1816;
  color: #fcf8f8;
}

.team-img {
  border-radius: 30px;
}
#full-form{
  background-image: url(../images/slide3.jpg);
  background-color: rgba(12, 4, 4, 0.9);
  background-blend-mode: darken;
  background-size: cover;
}
#contactus {
  background-size: cover;
  border-radius: 0px;
  border: none;
  background-color: rgb(255, 255, 255);
}

.card-title {
  font-size: 15px;
}
.form-control {
  box-shadow: 0 2.5px 2px -2px gray;
}

form input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
}

#feature:hover {
  background-color: rgb(185, 34, 34);
  color: #5fa536;
}

.section-padding {
  padding: 20px 0;
}

.single-service {
  transition: 0.5s;
  text-align: center;
  height: 280px;
  padding: 55px 50px;
  border-radius: 50px;
}
.single-service .icon {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
  color: #000;
  display: inline-block;
  height: 90px;
  width: 90px;
  margin-bottom: 35px;
}
.counter .icon{
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}

.single-service .icon i {
  display: block;
  font-size: 32px;
  line-height: 90px;
}

.single-service .content {
  height: 32px;
  transition: 0.5s;
}
.single-service .content h3 {
  font-size: 20px;
  color: #574e4e;
  
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}
.single-service .content p {
  color: #fff;
  line-height: 20px;
  margin: 20px 0 0;
}

#single-service1 {
  background-image: linear-gradient(to bottom, #ff8000 0%, #e29955 100%);
}

#single-service1:hover {
  background-image: linear-gradient(to bottom, #1badda 0%, #35da6c 100%);
  padding: 30px 20px;
}
#single-service2 {
  background-image: linear-gradient(to bottom, #23961f 0%, #71e255 100%);
}

#single-service2:hover {
  background-image: linear-gradient(to bottom, #1badda 0%, #35da6c 100%);
  padding: 30px 20px;
}
#single-service3 {
  background-image: linear-gradient(to bottom, #eb3232 0%, #e25555 100%);
}

#single-service3:hover {
  background-image: linear-gradient(to bottom, #1badda 0%, #35da6c 100%);
  padding: 30px 20px;
}
#single-service4 {
  background-image: linear-gradient(to bottom, #2198cfcb 0%, #398ea8ec 100%);
}

#single-service4:hover {
  background-image: linear-gradient(to bottom, #1badda 0%, #35da6c 100%);
  padding: 30px 20px;
}




.single-service:hover .content {
  height: 140px;
}

.counter {
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #f37d0e;
}

.text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -23%;
}
.text-wrapper h3 {
  text-align: center;
  color: #257a2c;
  font-size: 6vw;
}
.button-wrapper {
  width: 100%;
  margin-bottom: 0%;
  position: relative;
  margin-top: 10%;
  text-align: center;
  font-size: 4vw;
}
#btn1 {
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(241, 241, 241);
  border-radius: 20px;
  width: 100px;
  position: relative;

  height: auto;
  text-align: center;
  font-size: 12px;
}
#btn1:hover {
  background-color: #06a306;
  color: rgb(245, 245, 245);
  border: 2px solid rgb(255, 255, 255);
}

#btn2 {
  background: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 100px;
  height: auto;
  font-size: 12px;
}
#btn2:hover {
  background-color: #576ebb;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}
#btn3 {
  background: none;
  color: rgb(250, 250, 250);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 120px;
  height: auto;
  font-size: 12px;
}
#btn3:hover {
  background-color: #dd9f9d;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

.text-wrapper h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 5vw;
  font-family: 'Luckiest Guy';
  -webkit-text-stroke: .1px rgb(92, 84, 84);


  font-weight: bold;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(192, 186, 186),
    rgb(168, 161, 161),
    rgba(248, 242, 242, 0.801)
  );
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.562);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


/* Container holding the image and the text */
.service-card {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom:20px;
  right: 0px;
  background-color: rgba(219, 125, 17, 0.925);
  color: white;
  padding-left: 20px;
  width: 99%;
  padding-right: 15px;
  padding-top: 10px;
  border-radius: 10px;
  
}